@use "../../../s3d2/styles/globals/s3d2_fonts.scss" as s3d2_fonts;
.s3d2-reservation-section{
   padding: var(--space-28) var(--space-6) 0;
}
.s3d2-reservation-block {
  border-radius: var(--space-3);
border: 1px solid var(--s3d2-color-gray-900);
  padding: var(--space-3);
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1024px) {
    max-width: 940px;
    padding: var(--space-10);
    display: flex;
    gap: var(--space-10);
    align-items: flex-start;
    
  }

}

.reservation-left{
  margin-bottom: var(--space-5);
 @media screen and (min-width: 1024px) {
  flex :1;
    border-right: 1px solid var(--s3d2-color-surface-gray-900-transparent-10);
    padding-right: var(--space-10);
     margin-bottom: 0;
  }

&__status {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .s3d-flat-dashboard__status-label {
    position: static;
  }
}
&__help {
  display: flex;
  align-items: center;
  gap: var(--space-1);
  @include s3d2_fonts.fonts-3d-tiny;
  color: var(--s3d2-color-gray-900);
  cursor: pointer;
  &:hover {
    svg  path{
      fill-opacity: 0.6;
    }
  }
  svg {
    width: 14px;
    height: 14px;
  path{
      transition: all 0.3s ease-in-out;
       
  }
    
  }
}
}
.reservation-title {
  @include s3d2_fonts.fonts-3d-h1;
  color: var(--s3d2-color-text-gray-900);
  margin-bottom: var(--space-4);
  text-transform: capitalize;
  margin-bottom: 0;
}
.reservation-subtitle {
  @include s3d2_fonts.fonts-3d-h3-semibold;
  color: var(--s3d2-color-gray-500);
  margin-bottom: var(--space-4);
  text-transform: capitalize;
  margin-bottom: 0;
}
.reservation-text {
  @include s3d2_fonts.fonts-3d-body;
  color: var(--s3d2-color-gray-500);
     
}
.reservation-strong{
   @include s3d2_fonts.fonts-3d-h3-semibold;
  color: var(--s3d2-color-gray-900);
}
.price-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--space-5);
  padding-bottom: var(--space-5);
  border-top: 1px solid var(--s3d2-color-surface-gray-900-transparent-10)
}
.reservation-btn-secondary{
  display: flex;
  gap: var(--space-2);
  width: 100%;
  justify-content: center;
  align-items: center;
  background: transparent;
  @include s3d2_fonts.fonts-3d-h3-semibold;
  border: 1px solid var(--s3d2-color-gray-900);
  color: var(--s3d2-color-gray-900);
  padding: var(--space-3) var(--space-4);
  border-radius: var(--space-2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  & + & {
    margin-top: var(--space-1);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--s3d2-color-surface-gray-200-transparent-10);
    }
  }
  svg {
    flex-shrink: 0;
  }
}
.text-margin-btm{
  margin-bottom: var(--space-5);
}
.reservation-agree-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-3)
}

.reservation-period-wrap {
  border-top: 1px solid var(--s3d2-color-surface-gray-900-transparent-10);
  border-bottom: 1px solid var(--s3d2-color-surface-gray-900-transparent-10);
  padding: var(--space-3) 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  margin-bottom: var(--space-5)
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.reservation-check-wrap{
  display: flex;
  gap: var(--space-5);
  align-items: center;  
   margin-bottom: var(--space-5)
}
.reservation-check-svg{
  width: var(--space-12);
  height: var(--space-12);
  border: 1px solid var(--s3d2-color-surface-gray-900-transparent-10);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  svg{
    width: var(--space-6);
    height: var(--space-6);
  }
}

.btn-primary {
  background-color: var(--s3d2-color-gray-900);
  color: var(--s3d2-color-gray-100);
  border-radius: var(--space-2);
  padding: var(--space-5) var(--space-5);
  display: flex;
  justify-content: center;
  align-items: center;
   transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: none;
  
  &:disabled{
    background-color: var(--s3d2-color-surface-gray-200-transparent-10);
    pointer-events: none;
  }
  @media (hover: hover) {
    &:hover {
      background-color: var(--s3d2-color-gray-500);
    }
  }
}
.reservation-right{
  .btn-primary {
    width:100%;
    margin-bottom: var(--space-5);
  }
}
.reservation-secure{
    @include s3d2_fonts.fonts-3d-h3-semibold;
    color: var(--color-surface-success);
    margin-bottom: var(--space-1);
    text-align: center;
}
.reservation-refund{
  text-align: center;
}

.reservation-progress {
  margin-bottom: 20px;
}

.progress-line {
  height: 6px;
  background: #eee;
  border-radius: 4px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: #28a745;
  transition: 0.3s;
}

.reservation-flat-info {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}



.reservation-step {
  display: none;
}

.reservation-step.active {
  display: block;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
  font-size: 12px;
}





.s3d2-popup-overlay{
  position:fixed;
  inset:0;
  background:rgba(16,24,32,.55);

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  display:flex;
  align-items:center;
  justify-content:center;

  padding:24px;
  z-index:9999;

  animation: popupFade .25s ease;
}

@keyframes popupFade{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}

.s3d2-popup{
  position:relative;

  width:min(720px, 100%);
  max-height:90vh;

  background:#fff;
  border-radius:20px;

  padding:40px;

  

  overflow:auto;

  animation: popupSlide .28s cubic-bezier(.2,.8,.2,1);
}

@keyframes popupSlide{
  from{
    opacity:0;
    transform:translateY(24px) scale(.98);
  }
  to{
    opacity:1;
    transform:translateY(0) scale(1);
  }
}

.popup-close{
  position:absolute;
  top:var(--space-3);
  right:var(--space-3);
  z-index: 3;
  width:24px;
  height:24px;
  padding: 0;
  border:none;
  cursor:pointer;
  background:transparent;
  transition:.3s;
  svg {
    width:100%;
    height:100%;
  }
}

.popup-close:hover{
  
  transform:rotate(90deg);
}


.help-popup {
  .reservation-title, .reservation-strong , .help-list {
    margin-bottom: var(--space-6);
  }
  
  .reservation-text{
    margin-bottom: var(--space-10);
    color: var(--s3d2-color-gray-900)  
  }
}
.help-list li {
    margin-bottom: var(--space-1);
    svg {
      width: var(--space-4);
      height: var(--space-4);
      margin-right: var(--space-2);
    }
    span{
      @include s3d2_fonts.fonts-3d-body;
      color: var(--s3d2-color-gray-900);  
    }}




    /* Прив'язка градієнта до площі графіка */
        #priceDynamicsChart {
          width: 100%;
          height: 50vh
        }
        #priceDynamicsChart .c3-area-Price {
            fill: url(#chart-gradient) !important;
            opacity: 1;
        }
         #priceDynamicsChart .domain {
           stroke: var(--s3d2-color-surface-gray-200-transparent-10) !important;
         }
        #priceDynamicsChart .c3-line-Price {
            stroke: var(--s3d2-color-gray-900) !important;
            stroke-width: 2px;
        }
        
        /* Стилізація точок */
        #priceDynamicsChart .c3-circle {
            fill: var(--s3d2-color-gray-900) !important;
        }

        /* Тултіп: сірий бекграунд + блюр */
        .custom-c3-tooltip {
            background: var(--s3d2-color-surface-gray-900-transparent-20) !important;
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.1);
            padding: 10px;
            border-radius: 8px;
            color: var(--s3d2-color-gray-900);
        }
        .tooltip-val { @include s3d2_fonts.fonts-3d-h3-semibold;
            color: var(--s3d2-color-gray-900);
            margin-bottom: 4px; 
        }
        .tooltip-date { @include s3d2_fonts.fonts-3d-h3-semibold;
          font-weight: 500;
          color: var(--s3d2-color-gray-900);
        }
        #priceDynamicsChart .c3-axis-y .tick text tspan{
          @include s3d2_fonts.fonts-3d-small-bold;
          color: var(--s3d2-color-gray-900);

        }
        #priceDynamicsChart .c3-axis-x .tick text tspan{
          @include s3d2_fonts.fonts-3d-small-bold;
          font-weight: 400;
          color: var(--s3d2-color-gray-900);

        }